.author {
  height: auto;
  min-height: 100vh;
  background: url("../images/profile-bg.jpg") no-repeat center top;
  background-size: cover;
  position: relative;
  padding: 10% 30px 1px;
  margin-bottom: 0;
  @include max-screen($break_sm) {
    padding-top: 15%;
  }
  @include max-screen($break_xs) {
    padding-top: 25%;
  }
}
.authorProfile {
  @include row-flex();
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  &__card {
    text-align: center;
    padding: 20px 15px;
    @include col();
    @include col-5();
    @include col-sm-5();
    @include col-xs-12();
  }
  &__pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  &__login {
    font-family: 'lato', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
  }
  &__btn {
    display: inline-block;
    text-decoration: none;
    background: #4a5281;
    outline: none;
    margin-bottom: 30px;
    &:hover {
      background: darken(#4a5281, 15%);
    }
  }
  &__info {
    padding: 20px;
    //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    @include col();
    @include col-7();
    @include col-sm-7();
    @include col-xs-12();
  }
  dl {
    @include max-screen($break_xs) {
      margin-top: 0;
    }
  }
  dt, dd {
    font-size: 1.2em;
    display: inline-block;
    margin-bottom: 10px;
    @include max-screen($break_xs) {
      display: block;
      margin-bottom: 3px;
    }
  }
  dt {
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    width: 100px;
    margin-right: 30px;
    @include max-screen($break_xs) {
      text-align: left;
    }
  }
  dd {
    text-align: justify;
    margin: 0;
    max-width: calc(100% - 130px);
    @include max-screen($break_xs) {
      max-width: 100%;
    }
  }
}