.auth {
  width: 100%;
  height: 100%;
  .signIn {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 30px;
    width: 330px;
    margin: 0 auto 60px;
  }
}
.register {
  width: 100%;
  height: 100%;
  .registration {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 30px;
    width: 330px;
    margin: 0 auto 60px;
  }
}

.logIn {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background: rgba($black, 0.95);
  z-index: 100;
  &__close {
    font-size: 1.5em;
    color: $white;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
    transition: 220ms;
    &:hover {
      transform: scale(1.5);
    }
  }
}
.forms {
  margin: auto;
}
.signIn, .registration {
  width: 330px;
  label {
    color: $white;
  }
  label[for="remember"] {
    margin-right: 10px;
  }
  .inputGroup {
    position: relative;
  }
  input:not([type="checkbox"]) {
    color: $white;
    font-size: 1.2em;
    display: block;
    height: 30px;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dotted $border;
    padding-right: 35px;
  }

  .fa {
    color: #FFFFFF;
    position: absolute;
    right: 10px;
    top: 21px;
    font-size: 20px;
  }
  .errorText {
    display: block;
    color: $red;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    opacity: 0;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  &__enter {
    background: #4a5281;
    font-size: 1.2em;
    outline: none;
    &:hover {
      background: darken(#4a5281, 15%);
    }
  }
  .formToggle {
    color: $white;
    font-size: 1.2em;
    display: block;
    margin: 30px auto;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
  &__forgot {
    color: #0089ef;
    text-decoration: underline;
    align-self: flex-end;
    &:hover {
      text-decoration: none;
    }
  }
}
.registration {
  &__buttons {
    justify-content: center;
  }
}
.signIn_dark, .registration_dark {
  label {
    color: $black;
  }
  input:not([type="checkbox"]) {
    color: $black;
    border-color: $black;
  }
  .fa {
    color: $black;
  }
  .formToggle {
    color: $black;
  }
}

.entered {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  &__pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  &__name {
    color: $white;
    font-size: 1.2em;
    margin-bottom: 0;
  }
  &__link {
    color: #0089ef;
    text-decoration: underline;
    margin-top: 20px;
    &:hover {
      text-decoration: none;
    }
  }
}
.logoutBtn {
  font-size: 1.2em;
  display: block;
  margin: 30px auto;
  background: #e83b3a;
  &:hover {
    background: #bf1716;
  }
}