.gallery {
  width: 100%;
  height: 100%;
  padding: 0 30px 60px;
  &__wrap {
    @include row-flex();
    flex-wrap: nowrap;
    @include max-screen($break_sm) {
      flex-wrap: wrap;
    }
  }
}

.galleryCategory__wrap {
  @include col();
  @include col-2();
  @include col-sm-12();
  min-width: 225px;
  margin-bottom: 30px;
}
.galleryCategory {
  position: fixed;
  min-width: inherit;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  @include max-screen($break_sm) {
    position: static;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    background: #4a5281;
    height: 40px;
    min-width: 100%;
    padding: 0 0 0 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
    span {
      line-height: 40px;
      color: #fff;
      display: inline-block;
    }
    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      background: #4a5281 url(../images/menu-expand.png) no-repeat;
      background-position: 50% 9px;
      &:hover {
        background-color: darken(#4a5281, 10%);
      }
    }
  }

  &__list {
    flex-direction: column;
    list-style: none;
    user-select: none;
    background: $white;
    padding: 15px;
    margin: 0;
    display: none;
    @include max-screen($break_sm) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .expanded .side-title a {
      background-position: 50% -32px;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    + label {
      line-height: 24px;
      cursor: pointer;
      background: url("../images/cb.png") 0 0 no-repeat;
      padding-left: 40px;
      display: inline-block;
      height: 24px;
      margin: 5px 0;
      max-width: 190px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include max-screen($break_xs) {
        width: 140px;
      }
    }
    &:checked + label {
      background-position: 0 -24px;
    }
  }
}

.galleryCategory_opened .galleryCategory__list {
  display: flex;
}
.galleryCategory_opened a {
  background-position: 50% -32px;
}

.galleryWorks {
  @include col();
  @include col-10();
  @include col-sm-12();
  .sectionTitle {
    margin-bottom: 0;
  }
  .products {
    background: none;
    padding-top: 0;
  }
}