.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  z-index: 99;
  .flex {
    justify-content: space-between;
    align-items: center;
  }
}
//todo
.header_white {
  background: $white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  a {
    color: $link_dark;
    &:hover {
      color: $link_dark_hover;
    }
  }
  .nav {
    @include max-screen($break_sm) {
      background: $white;
    }
  }
}
.header_black {
  background: $black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  a {
    color: $white;
    &:hover {
      color: darken($white, 25%);
    }
  }
  .nav {
    @include max-screen($break_sm) {
      background: $black;
    }
  }
}
.header_clear {
  background: transparent;
  a {
    color: $white;
    &:hover {
      color: darken($white, 35%);
    }
  }
}

.logo {
  order: 1;
  display: none;
  @include max-screen($break_sm) {
    order: 2;
  }
  &__pic {
    max-width: 250px;
    height: auto;
    @include max-screen($break_sm) {
      display: none;
    }
  }
  &__picMin {
    display: none;
    max-width: 40px;
    @include max-screen($break_sm) {
      display: block;
    }
  }
}
.menu {
  order: 2;
  &__btn {
    font-size: 1.8em;
    text-decoration: none;
    //display: none;
    @include max-screen($break_sm) {
      display: block;
      order: 1;
    }
  }
}
.nav {
  order: 3;
  opacity: 0;
  transition: all 0.3s;
  @include max-screen($break_sm) {
    display: none;
    position: absolute;
    left: 0;
    right: 10%;
    border-top: 1px solid $border;
    padding-top: 15px;
    width: 100%;
    transition: none;
  }
  @include min-screen(785px) {
    display: flex !important;
  }
  &__link {
    font-family: "lato", sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    transition: 250ms;
    @include max-screen($break_sm) {
      display: block;
      padding: 10px 0;
      // background: #13193c;
      // opacity: 0.7;
    }
  }
}
.nav_dark {
  &__link {
    color: $link_dark;
    &__hover {
      color: $link_dark_hover;
    }
  }
}
.user {
  order: 4;
  //position: relative;
  &__btn {
    font-size: 1.6em;
    text-decoration: none;
    display: inline-block;
    transition: 250ms;
    i {
      //margin-right: 5px;
      font-size: 1.3em;
    }
    span {
      //vertical-align: top;
    }
  }
}


