.account {
  @include row-flex();
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 200px;
  &__card {
    text-align: center;
    padding: 20px 15px;
    //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    @include col();
    @include col-3();
  }
  &__pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  &__login {
    font-family: 'lato', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
  }
  &__info {
    padding: 20px;
    //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    @include col();
    @include col-9();
  }
  dt, dd {
    display: inline-block;
    margin-bottom: 10px;
  }
  dt {
    font-weight: bold;
    min-width: 80px;
  }
}