$navy: #001F3F;
$blue: #0074D9;
$aqua: #7FDBFF;
$teal: #39CCCC;
$olive: #3D9970;
$green: #2ECC40;
$lime: #01FF70;
$yellow: #FFDC00;
$orange: #FF851B;
$red: #FF4136;
$fuchsia: #F012BE;
$purple: #B10DC9;
$maroon: #85144B;
$white: #FFFFFF;
$silver: #DDDDDD;
$gray: #CCCCCC;
$black: #111111;
$gold: #f9c100;

$link: #c9c9c9;
$link_hover: $white;
$link_dark: #252940;
$link_dark_hover: #862625;
$border: #ccd3d7;
$form_btn: #252940;
