@import "libs/normalize.min";
@import "libs/media-queries";
@import "libs/smart-grid";
@import "../libs/font-awesome/scss/font-awesome";
@import "../libs/bxslider-4/dist/jquery.bxslider.css";

@import "variables";

@import "./includes/header";
@import "./includes/welcome";
@import "./includes/products";
@import "./includes/userRegistration";
@import "./includes/workAdd";
@import "./includes/work";
@import "./includes/auth";
@import "./includes/footer";

* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Geometria', sans-serif;
  position: relative;
  font-size: 16px;
  width: 100%;
  height: 100%;
  @include max-screen($break_xs) {
    font-size: 14px;
  }
}
figure {
  margin: 0;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.main {
  background: #f3f1f1;
  flex-grow: 1;
  position: relative;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.form {
  font-family: 'Geometria', sans-serif;
  padding: 30px 30px;
  &__title {
    text-align: center;
    h1 {
      margin-top: 0;
    }
  }
  .inputGroup {
    position: relative;
  }
  .filearea {
    display: flex;
    width: 100%;
    height: 200px;
    position: relative;
    outline: none;
    border: 3px dashed $border;
    span {
      color: $border;
      font-weight: bold;
      margin: auto;
    }
  }
  .errorText {
    display: block;
    color: $red;
    font-weight: bold;
    height: 25px;
    line-height: 1;
    opacity: 0;
  }
  label {
    display: block;
  }
  input, textarea {
    width: 100%;
    background: $white;
    border: 1px solid $border;
    padding-left: 10px;
    border-radius: 2px;
    vertical-align: middle;
  }
  textarea {
    max-width: 100%;
    max-height: 300px;
  }
  input[type="file"], input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    &:hover {
      cursor: pointer;
    }
  }
}

.button {
  font-family: 'Geometria', sans-serif;
  color: $white;
  padding: 0.5em 1.5em;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 120ms;
}
/* slider */

.bx-wrapper {
  border: none;
  .bx-controls-direction a {
    background: url("../images/slider-prev.png");
    width: 60px !important;
    height: 60px !important;
  }
  a.bx-next {
    background: url("../images/slider-next.png");
    &:hover, &:focus {
      background-position: 0 0;
    }
  }
}
